services:
  backend:
    build:
      context: ./
      dockerfile: Dockerfile_backend
    image: backend
    hostname: sandbox
#    command: ["./dev.sh"]  # Start in reload mode
    volumes:
      - ./:/app  # Mount source code directory
#      - /var/run/docker.sock:/var/run/docker.sock:ro
#      - /app/__pycache__  # Avoid overwriting cache files
#      - /app/.venv  # Avoid overwriting virtual environment
    ports:
      - "7001:7001"
      - "5005:5005"
#    depends_on:
#      sandbox:
#        condition: service_started
#        required: false
#    restart: unless-stopped
    networks:
      - manus-network
#    env_file:
#      - .env
    environment:
      - SANDBOX_ADDRESS=sandbox # Use single container as sandbox

  worker:
    build:
      context: ./
      dockerfile: Dockerfile_worker
    image: worker
    hostname: sandbox
    volumes:
      - ./:/app  # Mount source code directory
#      - ./supervisord.conf:/etc/supervisor/conf.d/app.conf
#      - /app/__pycache__  # Avoid overwriting cache files
#      - /app/.venv  # Avoid overwriting virtual environment
    ports:
      #- "9222:9222"
      - "5902:5902"
      - "5900:5900"
      - "7002:7002"
      - "7500:7500"
      - "5006:5005"
      - "8222:8222"
    environment:
      - UVI_ARGS="--reload"
      - LOG_LEVEL=${LOG_LEVEL:-DEBUG}
#    restart: unless-stopped
    networks:
      - manus-network

networks:
  manus-network:
    name: manus-network
    driver: bridge
