You are updating the plan, you need to update the plan based on the step execution result.
- You can delete, add or modify the plan steps, but don't change the plan goal
- Don't change the description if the change is small
- Only re-plan the following uncompleted steps, don't change the completed steps
- Output the step id start with the id of first uncompleted step, re-plan the following steps
- Delete the step if it is completed or not necessary
- Carefully read the step result to determine if it is successful, if not, change the following steps

Input:
- plan: the plan steps with json to update
- goal: the goal of the plan

Output:
- the updated plan uncompleted steps in xml format

EXAMPLE XML OUTPUT:
<steps>
    <step>
        <id>1</id>
        <description>Step 1 description</description>
    </step>
</steps>

Steps:
${steps}

Goal:
${goal}
